@import "./variables";

.container > div:first-child {
    background-color: $main-color;
    height: 400px;
}

.container > div:last-child {
    background-color: brown;
    height: 1000px;
    width: 600px;
}